<hr>

<div class="border container searchPadding">
  <form action="">
<div class="form-group">
  <br><br>
  <label appHover >Search Username</label>
  <input type="text" placeholder="Search GitHub userName" [(ngModel)]="userName" name="userName" (keyup) = "findProfile()">
</div>
  </form>
</div>
<br><br>
<div class= "container1" *ngIf = "user">


<h2 class="card-header"> <small>({{user.login}})</small></h2>
<div class="card-body">
  <div class="row">
      <div class="col-md-4">
          
          <img src="{{user.avatar_url}}" class="img-fluid">
          <hr>
          
          <a href="{{user.html_url}}" class="btn btn-outline-success btn-block" target="_blank"> GitHub Profile</a>
          
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-12">
          <ul class="bg-dark text-white">
           <li><span class="badge badge-primary">{{user.followers}} Followers</span></li>
              <li><span class="badge badge-secondary">{{user.following}} Following</span></li>
              <li><span class="badge badge-success">{{user.public_gists}} Public Gists</span></li>
              <li><span class="badge badge-info">{{user.public_repos}} Public Repos</span></li>
              </ul>
              <hr>
          
      </div>
  </div>
</div>
</div>
<hr>
<div class="card info" *ngIf= "repos">
  <h4 class="card-header">Repos</h4>
  <div class="card-body col-md-12" >
        
          <div class="card">
            <ul class="list-group" *ngFor="let repo of repos">
              <li class="list-group-item">
                  <div class="row">
                      <div class="col-md-6">
                          <a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a>

                          <small>(Created days ago)</small>
                          <p>{{repo.description}}</p>
                      </div>
                      <div class="col-md-3">
                          <span class="badge badge-primary">{{repo.watchers}} Watcher</span>
                          <span class="badge badge-info">{{repo.forks}} Forks</span>
                          <br>
                          <a href="{{repo.html_url}}" target="_blank" class="btn btn-outline-info">View Repo</a>
                      </div>

                      
                  </div>
                  
              </li>
            </ul>
          </div>
      </div>
  
</div>
