<!-- <p>form works!</p> -->
    <div class="container-fluid">
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        
    </div>
    <!-- <div class="container-fluid">
        
      <form (ngSubmit)="searchFor(searchForm)" #searchForm="ngForm">
        <div class="form-group">
          <input type="text" class="form-control" name="find" placeholder="Enter username"[(ngModel)]= "searchInfo.find"  #find='ngModel'>
          <button type="submit" class="btn btn-group"> Search</button>
        </div>
      </form>
  </div> -->