<!-- <p>form works!</p> -->
    <!-- <div class="container-fluid">
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        
    </div>
    <form class='searchbox'>
      Enter the User Name: <input type="text" [(ngModel)]='userName'
      name='userName'(keyup)='findProfile()' class="Search" placeholder='Search or jump to ...'>
  </form> -->
     <!-- <div class="container-fluid">
        
      <form (ngSubmit)="searchFor(Form)" #Form="ngForm">
        <div class="form-group">
          <input type="text" class="form-control" name="find" placeholder="Enter username"[(ngModel)]= "searchInfo.find"  #find='ngModel'>
          <button type="submit" class="btn btn-group"> Search</button>
        </div>
      </form>
  </div>  -->
  <form action="">
<div class="form-group">
  <br><br>
  <label>Search GitHub Username</label>
  <!-- <input type="text" placeholder="Search GitHub userName" [(ngModel)]="userName" name="userName" (keyup) = "findProfile()"> -->
</div>
  </form>
<br><br>
<div class= "container1" *ngIf = "user">